contents
index.html
*~
*.o
*.a
*.dylib
*.plugin

# Reasonably safe patterns for Windows
*.exe
*.obj
*.dll
*.exp
*.pdb
lib*.lib
lib*-dll
resource.RES
resource.rc
*_.RES
*_.rc
*0000.bin
*.ilk

*.log
*.tmp
*.out

tests/*.hex
tests/*.xml

ftm-import
ftm-export
ftm-strings
